@model IEnumerable<ProductReviewAuthentication.Models.ViewModels.ProductIndexViewModel>
@{
    Layout = "_DashBoardLayout";
    ViewBag.Title = "Details";
}

<h1 class="text-center text-secondary">Product Reviews</h1>

<div class="card-header">
    <div class="mb-3 border-right">
        <a class="btn btn-success" asp-controller="Review" asp-action="Create">Add Review</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th>Manufacturer</th>
                    <th>Product</th>
                    <th>Comment</th>
                    <th>Ratings</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var review in Model)
                {
                    <tr class="text-primary">
                        <td> @review.UserName</td>
                        <td> @review.ProductName </td>
                        <td>@review.Comment</td>
                        <td>@review.Ratings </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<div class="mb-3 border-right">
    <a class="btn btn-success" asp-controller="Home" asp-action="Index">Back To Home</a>
</div>
